<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Flow</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="h-screen w-screen bg-[#0b0b0c] text-white px-5 md:px-10">
    <nav class="w-full flex flex-row justify-between py-5 items-center">
        <span>
            <h1 class="font-bold text-2xl">Study Flow</h1>
        </span>
        <span class="h-full flex flex-row gap-3 md:gap-10 items-center">
            <a href="https://github.com/YogeshAdhikari07/Study-Flow" target="_blank" class="text-[#cfcfcfff]">Github</a>
            <button class="bg-[#ff6b00] p-2 h-full rounded-xl">Get App</button>
        </span>
    </nav>
    <section id="hero" role="banner">
        <div id="hero_banner_right">
            <h1>
                Student Task Manager — Organize your coursework with ease
            </h1>
        </div>
        <div></div>
    </section>
</body>
</html>