<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/css/leaderboard.css">
    <link
      rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="container">
        <div class="side-panel">

            <i class="fa-brands fa-microsoft"></i>
            <i class="fa-solid fa-list-check"></i>
            <i class="fa-solid fa-chart-line"></i>
            <i class="fa-solid fa-user"></i>

        </div>

        <div class="right-panel">
            <h1>
                <i class="fa-solid fa-trophy"></i>
                Completion Leaderboard
            </h1>
            <div class="first">
                <span class = "rank">#01</span>
                <img src="https://i.pravatar.cc/150?img=1" class="pfp">
                <span class = "name">Ava</span>
                <span class = "tasks">142 tasks</span>
            </div>
            <div class="first">
                <span class = "rank">#02</span>
                <img src="https://i.pravatar.cc/150?img=2" class="pfp">
                <span class = "name">Liam</span>
                <span class = "tasks">129 tasks</span>
            </div>
            <div class="first">
               <span class = "rank">#03</span>
                <img src="https://i.pravatar.cc/150?img=3" class="pfp">
                <span class = "name">Priya</span>
                <span class = "tasks">117 tasks</span>
            </div>
            <div class="first">
                <span class = "rank">#04</span>
                <img src="https://i.pravatar.cc/150?img=4" class="pfp">
                <span class = "name">Noah</span>
                <span class = "tasks">98 tasks</span>
            </div>
            <div class="first">
                <span class = "rank">#05</span>
                <img src="https://i.pravatar.cc/150?img=5" class="pfp">
                <span class = "name">Sofia</span>
                <span class = "tasks">86 tasks</span>
            </div>
            <div class="first">
                <span class = "rank">#06</span>
                <img src = "https://i.pravatar.cc/150?img=6" class = "pfp">
                <span class = "name">Ethan</span>
                <span class = "tasks">64 tasks</span>
            </div>
            <div class="first">
               <span class = "rank" style="font-weight: 700;">#07</span>
                <img src = "https://i.pravatar.cc/150?img=7" class = "pfp">
                <span class = "name" style="font-weight: 700;">Me</span>
                <span class = "tasks" style="font-weight: 700;">42 tasks</span>
            </div>
            <div class="first">
                <span class = "rank">#08</span>
                <img src = "https://i.pravatar.cc/150?img=8" class = "pfp">
                <span class = "name">Kai</span>
                <span class = "tasks">18 tasks</span>
            </div>
        </div>

    </div>
</body>
</html>