<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Flow</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="h-screen w-screen px-5 lg:px-10 overflow-x-hidden flex bg-[#0b0b0c] text-white">
    <section class="h-full flex-1 flex justify-center items-center">
        <div class="flex flex-col gap-6 items-center">
            <h1 class="p-4 border-b-2 text-5xl font-bold">STUDY FLOW</h1>
            <P class="p-2">Organize, prioritize, and complete study tasks with speed and clarity</P>
            <span class="flex flex-row gap-6">
                <button class="bg-white text-black p-4 flex justify-center items-center rounded-2xl" onclick="location.href='/page/Login'">LOGIN</button>
                <button class="bg-white text-black p-4 flex justify-center items-center rounded-2xl" onclick="location.href='/page/signup'">SIGN UP</button>
            </span>
        </div>
    </section>
</body>
</html>