<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Flow-Tasks</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="h-screen w-screen overflow-hidden bg-[#0b0b0c] text-white flex flex-row p-6 gap-6">
    <section id="menu" role="menu"
        class="border-2 border-[#575656] rounded-xl hidden lg:w-[250px] lg:flex p-4 gap-4 flex-col">
        <div class="flex flex-col flex-1 gap-2">
            <span class="flex flex-row gap-2" onclick="location.href='/page/home'"><img src="/media/dashboard.svg" alt="Dashboard" class="h-6">
                <h1>DashBoard</h1>
            </span>
            <span class="flex flex-row gap-2 hover:cursor-pointer" onclick="location.href='/page/task'"><img src="/media/notes.svg" alt="Tasks" class="h-6">
                <h1>Tasks</h1>
            </span>
            <span class="flex flex-row gap-2"><img src="/media/stats.svg" alt="Stats" class="h-6">
                <h1>Stats</h1>
            </span>
        </div>
        <div class="flex flex-col gap-2">
            <span class="flex flex-row items-center gap-2"><img src="/media/setting.svg" alt="Setting" class="h-6">
                <h1>Setting</h1>
            </span>
            <span class="flex flex-row gap-2"><img src="/media/logout.svg" alt="Logout" class="h-6">
                <h1>Logout</h1>
            </span>
        </div>
    </section>
    <section id="hero" class="flex-1 flex flex-col gap-6">
        <div class="flex flex-row justify-between items-center">
            <span id="title">Tasks</span>
            <span class="flex flex-row gap-2 items-center border-2 border-white rounded-full">
                <input type="text" id="search-Input" placeholder="Search" class="flex-1 outline-none px-4">
                <img src="/media/search.svg" alt="Search" class="h-10">
            </span>
        </div>
        <div class="flex flex-row justify-end">
            <button type="button" class="bg-white text-black text-xl p-2 rounded-xl">Create Task</button>
        </div>
        <div id="task-preview">

        </div>
    </section>
</body>
</html>