@font-face {
    font-family: 'StudyFlow1'; 
    src: url('/media/studyflow_1.ttf') format('truetype'); 
}
@font-face {
    font-family: 'StudyFlow2'; 
    src: url('/media/studyflow_2.otf') format('opentype'); 
}
body
{
    font-family: StudyFlow1;
}
form{
    font-family: StudyFlow2;
}
::-webkit-scrollbar{
    display: none;
}